
 h1, h2,  ul {
    margin: 0;
        padding: 0px;
}
.container1{
    margin: 0 auto;
    padding: 20px;
    color: black;
}
.cent{
    font-size: 30px;
    color: black;   
}
* {
  box-sizing: border-box;
}
.example{
     height: 20px;
      padding: 10px;
  margin-bottom: 50px;
}
form.example input[type=text] {
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px 10px 10px 10px;
  float: right ;
  width: 200px;
  background: #f1f1f1;
}
.container{
	top: 500px;
	text-align: center;
	padding: 70px;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
header {
	height: 170px;
   background-color: white;
    color: black;
    background-image: url('your-background-image.jpg');
}
header h1 {
    font-size: 30px;
    padding: 20px;
    font-style: "italic;";
}
div ul {
    list-style: none;
}
div ul li {
    display: inline;
    margin-right: 20px;
    color: black;
}
.a1:hover{
    font-size: 25px;
	color: royalblue;
}
.a2:hover{
     font-size: 25px;
	color: royalblue;
}
.a3:hover{
     font-size: 25px;
	color: royalblue;
}
.a4:hover{
     font-size: 25px;
	color: royalblue;
}
div a {
    text-decoration: none;
    color:black;
    font-size: larger;
}
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    background-image: url("backgroundimageoctanet3.jpg");
	height: 800px;
	width:100% ;
}
.hero h2 {
    font-size: 36px;
}
.cta-button {
    display: inline-block;
    padding: 15px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.cta-button:hover{
font-size: 30px;
}
.descent{
    font-size: 40px;
    text-align: center;
    color: black;
    text-decoration: underline 2px solid;
}
.destinations{
    width: 100%;
    padding: 30px;
    text-align: center;
    height: 800px;
    display: table-row-group;
}
.destinations img{
 border-radius:15px 15px 15px 15px ;
 border: 2px solid white;
}
.destinations img:hover{
 border: 5px solid black;
  border-radius:20px 20px 20px 20px ;
}
.bod{
    margin: 0%;
    padding:0%;
    height: 1500px;
}
h3{
    color: black;
    font-size: 30px;
    text-decoration:underline ;
}
h3:hover{
    color: seagreen;
}
.end{
    font-size: 25px;
    padding: 20px;
    font-weight: bolder;
    color: black;
        margin: 0;
        padding-bottom: 30px;

}
.end:hover{
    color: deepskyblue;
}
.brand{
    height: 40px;
    width: 40px;
    border: 3px solid white;
    background-color: deepskyblue;
    color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
}
h2{
    color: white;
}
.container3{
    background-color: lightgray;
    font-size: 30px;
    color: black;
     height: 200px;
     width: 100%;
    padding-left: 450px;
    padding-top: 40px;
    bottom: 0%;

}

.fa-linkedin-square:hover{
 
    font-size: 50px;
}
.fa{
      padding-left: 50px;
    align-content: center;
    padding: 25px;
}
.fa-skype:hover{
      font-size: 50px;
}
.fa-instagram:hover{
      font-size: 50px;
}
.fa-flickr:hover{
      font-size: 50px;
}
.fa-facebook:hover{
      font-size: 50px;
}
.fa-twitter:hover{
      font-size: 50px;
}
.footer1{
     padding-left: 60px;
    padding-bottom: 20px;
    margin-bottom: 0%;
}

